.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#para1 {
    color: white;   
}



#para2 {
    font-family: fantasy;
    color: gold;
    transition: 0.5s;
}
#para2:hover{
    font-size: 50px;
    color: goldenrod;
}

.para3 {
    text-align: left;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: cursive;
}

.LANGUAGES {
    display: flex;
    flex-wrap: wrap;
}

#CONTACT {
    text-align: center;
    color: white;
    font-family: cursive;
}

#logo {
    height: 30px;
    transition: 1s;
    align-items: center;
}
#logo:hover{
    height: 40px;
}

#profile {
    height: 500px;
     border-radius: 52px; 
     border: 4px solid #ddd;
}

 

*::selection{
    background-color: yellow;
    color: black;
}

.second-section{
    background-color: gray;
    border-radius: 39px
}

#pic {
    transition: 0.5s;
    height: 340px;
}
#pic:hover {
    height: 390px;
}

.navigation {
    transition: 0.5s;
}
.navigation:hover{
    background-color: lightseagreen;
    border-radius: 9px;
}

.image {
    padding-top: 50px;
}

.my-name {
    transition: 0.5s;
}
.my-name:hover{
    color: green;
}
